@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Fonts */
  --font-heading: "Merriweather", serif;
  --font-body: "Poppins", sans-serif;

  --site-primary: #498dbd;
  --site-secondary: #8b5e3b;
  --site-accent: #00a63e;
  --site-dark: #333333;
  --site-light: #ffffff;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.bg-site-primary {
  background-color: var(--site-primary) !important;
}

.bg-site-accent {
  background-color: var(--site-accent) !important;
}

.text-site-primary {
  color: var(--site-primary) !important;
}

.text-site-accent {
  color: var(--site-accent) !important;
}
.text-site-secondary {
  color: var(--site-secondary) !important;
}

/* Custom Css */
.top-bar {
  /* background-image: url("/images/topbar-bg.png"); */
  background-color: var(--site-primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-bg-secondary {
  background-image: url("/images/skyblue-footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  width: 30px !important;
  border-radius: 10px !important;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
  width: 30px !important;
  margin-bottom: 30px !important;
  padding: 5px !important;
}
@media screen and (max-width: 600px) {
  .top-bar {
    display: none !important;
  }
  .header-container {
    display: flex;
    justify-content: center;
  }
}
/* Custom Css End */
